{% extends "layout.html" %}
{% block body %}

<div class="block1">
	<h1><center>CI/CD Pipeline Demo</center></h1>
	<h2><center>D. Lalonde</center></h2>
    <h2><center>A simple code pipeline using AWS CloudFormation, CodeBuild and CodeDeploy</center></h2>
    <BR>
    <h3><center>March 6, 2020</center></h3>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png"
        width="527" height="277" />
</div>
<p>{% endblock %}</p>
